@model Proyecto.Models.sp_Retorna_ClienteID_Result



@{
    ViewBag.Title = "ClientesElimina";
    Layout = "~/Views/Shared/_LayoutSolo.cshtml";
}

<h2>Eliminar clientes</h2>

<form id="frmClientesElimina" method="post">
    <input type="hidden" name="Id_Cliente" id="Id_Cliente" value="@Model.Id_Cliente" readonly />
    <div class="form-group">
        <label>Cedula :</label>
        <input type="text" name="Cedula" id="Cedula" class="form-control" value="@Model.Cedula" readonly />
    </div>
    <div class="form-group">
        <label>Genero</label>
        <input type="text" name="Genero" id="Genero" class="form-control" value="@Model.Genero" readonly />
    </div>
    <div class="form-group">
        <label>Fecha de nacimiento :</label>
        <input type="text" name="Fecha_Nacimiento" id="Fecha_Nacimiento" class="form-control" value="@Model.Fecha_Nacimiento" readonly />
    </div>
    <div class="form-group">
        <label>Nombre :</label>
        <input type="text" name="Nombre" id="Nombre" class="form-control" value="@Model.Nombre" readonly />
    </div>
    <div class="form-group">
        <label>Primer Apellido</label>
        <input type="text" name="Primer_Apellido" id="Primer_Apellido" class="form-control" value="@Model.Primer_Apellido" readonly />
    </div>
    <div class="form-group">
        <label>Segundo Apellido :</label>
        <input type="text" name="Segundo_Apellido" id="Segundo_Apellido" class="form-control" value="@Model.Segundo_Apellido" readonly />
    </div>
    <div class="form-group">
        <label>Dirección Física :</label>
        <input type="text" name="Direccion" id="Direccion" class="form-control" value="@Model.Direccion" readonly />
    </div>
    <div class="form-group">
        <label>Teléfono Principal</label>
        <input type="text" name="Telefono1" id="Telefono1" class="form-control" value="@Model.Telefono1" readonly />
    </div>
    <div class="form-group">
        <label>Teléfono Secundario :</label>
        <input type="text" name="Telefono2" id="Telefono2" class="form-control" value="@Model.Telefono2" readonly />
    </div>
    <div class="form-group">
        <label>Correo Electrónico :</label>
        <input type="text" name="Correo" id="Correo" class="form-control" value="@Model.Correo" readonly />
    </div>

    <div class="form-group">
        <input type="submit" value="Eliminar" id="btnEliminar" />
    </div>
    <a href="~/Clientes/ClientesLista">Regresar a la lista</a>

</form>
@*@section scripts{
    @Scripts.Render("~/Scripts/ScriptsProyecto/Geografia.js")

}*@