@model Proyecto.Models.sp_Retorna_Registro_PolizasID_Result
@{
    ViewBag.Title = "RegistroPolizasModificar";
}

<h2>Modificar póliza</h2>

<form id="frmRegistroPolizas" method="post">

    <div class="form-group">
        <label>Cobertura</label>
        <select name="Id_Cobertura" id="Id_Cobertura" class="form-control">
            <option value="">Seleccione una cobertura</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Cobertura_De_Poliza_Result cobertura in ViewBag.Cobertura)
                {
                    bool estaCoberturaEnModelo = cobertura.Id_Cobertura == Model.Id_Cobertura;
                    if (estaCoberturaEnModelo)
                    {
                        <option value="@cobertura.Id_Cobertura" selected>@cobertura.Nombre</option>
                    }
                    else
                    {
                        <option value="@cobertura.Id_Cobertura">@cobertura.Nombre</option>
                    }


                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Cliente</label>
        <select name="Id_Cliente" id="Id_Cliente" class="form-control">
            <option value="">Seleccione un cliente</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Clientes_Result cliente in ViewBag.Clientes)
                {
                    bool estaClienteEnModelo = cliente.Id_Cliente == Model.Id_Cliente;

                    if (estaClienteEnModelo)
                    {
                        <option value="@cliente.Id_Cliente" selected>@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                    }
                    else
                    {
                        <option value="@cliente.Id_Cliente">@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                    }
                   
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Fecha de vencimiento:</label>
        <input type="date" name="Fecha_Vencimiento" id="Fecha_Vencimiento" class="form-control" value="@Model.Fecha_Vencimiento.ToString("yyyy-MM-dd")"/>
    </div>

    <div class="form-group">
        <label>Monto asegurado</label>
        <input type="text" name="Monto_Asegurado" id="Monto_Asegurado" class="form-control" value="@Model.Monto_Asegurado"/>
    </div>

    <div class="form-group">
        <label>Porcentaje cobertura</label>
        <input type="text" name="Porcentaje_Cobertura" id="Porcentaje_Cobertura" class="form-control" readonly value="@Model.Porcentaje_Cobertura"/>
    </div>

    <div class="form-group">
        <label>Numero adicciones </label>
        <input type="text" name="Numero_Adicciones" id="Numero_Adicciones" class="form-control" readonly value="@Model.Numero_Adicciones"/>
    </div>

    <div class="form-group">
        <label>Monto adicciones </label>
        <input type="text" name="Monto_Adicciones" id="Monto_Adicciones" class="form-control" readonly value="@Model.Monto_Adicciones" />
    </div>

    <div class="form-group">
        <label>Prima antes impuestos</label>
        <input type="text" name="Prima_Antes_Impuestos" id="Prima_Antes_Impuestos" class="form-control" readonly value="@Model.Prima_Antes_Impuestos"/>
    </div>

    <div class="form-group">
        <label>Impuestos</label>
        <input type="text" name="Impuestos" id="Impuestos" class="form-control" readonly value="@Model.Impuestos"/>
    </div>

    <div class="form-group">
        <label>Prima final</label>
        <input type="text" name="Prima_Final" id="Prima_Final" class="form-control" readonly value="@Model.Prima_Final"/>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" id="btnGuardar" />
    </div>
    <a href="~/RegistroPolizas/RegistroPolizasLista">Regresar a la lista</a>

</form>
@section scripts{
    
    <script src="~/Scripts/ScriptsProyecto/RegistroPolizas.js"></script>
}
