
@{
    ViewBag.Title = "RegistroPolizasInsertar";
}

<h2>Registrar nueva póliza</h2>

<form id="frmRegistroPolizas" method="post">

    <div class="form-group">
        <label>Cobertura</label>
        <select name="Id_Cobertura" id="Id_Cobertura" class="form-control">
            <option value="">Seleccione una cobertura</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Cobertura_De_Poliza_Result cobertura in ViewBag.Cobertura)
                {
                    <option value="@cobertura.Id_Cobertura">@cobertura.Nombre</option>

                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Cliente</label>
        <select name="Id_Cliente" id="Id_Cliente" class="form-control">
            <option value="">Seleccione un cliente</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Clientes_Result cliente in ViewBag.Clientes)
                {
                    <option value="@cliente.Id_Cliente">@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Monto asegurado</label>
        <input type="text" name="Monto_Asegurado" id="Monto_Asegurado" class="form-control" />
    </div>

    <div class="form-group">
        <label>Porcentaje cobertura</label>
        <select name="Porcentaje_Cobertura" id="Porcentaje_Cobertura" class="form-control">
            <option value="">Seleccione un cliente</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Clientes_Result cliente in ViewBag.Clientes)
                {
                    <option value="@cliente.Id_Cliente">@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Porcentaje </label>
        <select name="Id_Cliente" id="Id_Cliente" class="form-control">
            <option value="">Seleccione un cliente</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Clientes_Result cliente in ViewBag.Clientes)
                {
                    <option value="@cliente.Id_Cliente">@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Numero adicciones </label>
        <select name="Numero_Adicciones" id="Numero_Adicciones" class="form-control">
            <option value="">Seleccione un cliente</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Clientes_Result cliente in ViewBag.Clientes)
                {
                    <option value="@cliente.Id_Cliente">@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Monto adicciones </label>
        <select name="Monto_Adicciones" id="Monto_Adicciones" class="form-control">
            <option value="">Seleccione un cliente</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Clientes_Result cliente in ViewBag.Clientes)
                {
                    <option value="@cliente.Id_Cliente">@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Prima antes impuestos</label>
        <select name="Prima_Antes_Impuestos" id="Prima_Antes_Impuestos" class="form-control">
            <option value="">Seleccione un cliente</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Clientes_Result cliente in ViewBag.Clientes)
                {
                    <option value="@cliente.Id_Cliente">@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Impuestos</label>
        <select name="Impuestos" id="Impuestos" class="form-control">
            <option value="">Seleccione un cliente</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Clientes_Result cliente in ViewBag.Clientes)
                {
                    <option value="@cliente.Id_Cliente">@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Prima final</label>
        <select name="Prima_Final" id="Prima_Final" class="form-control">
            <option value="">Seleccione un cliente</option>
            @{
                foreach (Proyecto.Models.sp_Retorna_Clientes_Result cliente in ViewBag.Clientes)
                {
                    <option value="@cliente.Id_Cliente">@cliente.Nombre @cliente.Primer_Apellido @cliente.Segundo_Apellido</option>

                }
            }
        </select>
    </div>
</form>
@section scripts{
    
    }